  
/* #CSS
---------------------------------
    #HTML5 
    #BODY
        #TYPOGRPHY 
        #HELPERS 
        #MEDIA
            #IMAGES 
            #VIDEOS
        #COMPONENTS
            #BUTTONS 
    #SITE STRUCTURE 
        #HEADER 
            #SITE-BRANDING (LOGO)
            #SITE NAVIGATION 
        #FOOTER 
        #SECTIONS 
            #HERO 
    #LAYOUT 
        #GRIDS 
    #EFFECTS (FADE-INS)
---------------------------------- */
/* #HTML5 */


header, section, footer, aside, nav, main, article, figure {
  display: block;
}  


body{
  background:rgb(238, 237, 237);
  /* font-family: Helvetica, Arial, sans-serif; */
  color: rgba(0,0,0,.7);
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  font-size: 87.5%;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

/* LINKS*/




/* SITE NAV */
.site-header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color:white;

}
.site-footer {
  text-align: center;
  padding: 3em 0 2em 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
    
}

.site-header a {
  color: white;
  text-decoration: none;
}



.site-id svg {
  margin-right: 0.5em;
  fill: white;
  display: flex ;
  align-items: none;
  
}

/* NAVICON */
.menu-button svg {
  fill: rgb(163, 35, 35);
  cursor: pointer;
  position: relative;
  z-index: 20;
}



.hero {
  /* background: rgb(131, 130, 130); */
  min-height: 300px;
  position: relative;
}

.hero .container {
  max-width: 400px;
}

.hero h1 {
  font-size: 6em;
  line-height: 1;
  margin: 0;
}

/* HELPERS */
.hide-visually {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/* GLOBAL RESETS */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}




/* centering purpose only */
svg{
  /* display:block; */
  width:250px;
  position:absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
path{
  stroke:#fff;/* color of the signature */
  stroke-width:4px;/* need to be more than 0 otherwise you can't see it */
  animation: demodraw 2s linear infinite ; /* name of the keyframe, duration, easing function ( slow start fast ending ), repeat infinietly */
  stroke-dasharray: 1800;/* value returned by var path = document.querySelector('path');
  var length = path.getTotalLength(); */
  stroke-dashoffset: 1800;/* value returned by var path = document.querySelector('path');
  var length = path.getTotalLength(); */
}

@keyframes demodraw {
  to {
    stroke-dashoffset: 0;
  }
}
